@model muhammedkayraozkaya_241103046.Models.BookCard
@{

    var book = Model?.Book ?? new BookModel(-1, -1, -1);
}
<div class="book-card">
    <div class="book-cover">
        <a asp-controller="books" asp-action="details" asp-route-id="@book.Id">
            <img src="~/img/covers/@book.ImgStr()" alt="@book.Title" /> 
        </a>
        <div class="book-info">
            <div class="price">
                <div class="discount">Save @(book.Discount)%</div>
                <div class="amount">
                    <div class="cost">@(book.Cost)TL</div>
                    <div class="net">@(book.Price())TL</div>
                </div>
            </div>
            <div class="rating">

            </div>
            <div class="stocks">

            </div>
        </div>
    </div>
    <div class="book-details">
        @if (Model?.Details.Price != null)
        {
            <div class="price">
                <div class="discount">
                    <div class="label">Save</div>
                    <div class="value">@(book.Discount)%</div>
                </div>
                <div class="amount">
                    <div class="cost">@(book.Cost)</div>
                    <div class="net">@(book.Price()) TL</div>
                </div>
            </div>
        }
        @if (Model?.Details.Rating != null)
        {
            <div class="rating">@book.RatingStr()</div>
        }
        @if (Model?.Details.Stocks != null)
        {
            <div class="stocks">
                Left <div class="value">@book.Stocks</div> in stocks
            </div>
        }
    </div>

</div>