@model muhammedkayraozkaya_241103046.Models.BookCard
@{

    var book = Model?.Book ?? new BookModel(-1, -1, -1);
}
<div class="book-card">
    <div class="book-cover">
        <a asp-controller="books" asp-action="details" asp-route-id="@book.Id">
            <img src="~/img/covers/@book.ImgStr()" alt="@book.Title" /> 
        </a>
        <div>
            <p class="stocks">
                @book.Stocks left
            </p>
            <p class="rating">
                ⭐@book.Rating points
            </p>
            <p class="discount">
                Save %@(book.Discount)           
            </p>
            <p class="price">
                @(book.Price()) TL             
            </p>
        </div>
    </div>
    <div>
        <p>@book.Title</p>
        <p>@book.Rating points</p>
        <p>@book.Stocks left</p>
        <p>@(book.Price())TL</p>
    </div>

</div>