@model muhammedkayraozkaya_241103046.Models.BookModel
@{
	var book = Model ?? new BookModel(-1, -1, -1);
}

<div class=book-details>
	<partial name="Book/card" model=book />
	<div class="content">
		<div class="title">@book.Title</div>
		<div class="source flex">
			<div class="label">by</div>
			<a class="value" asp-controller="authors" asp-action="details" asp-route-id=@book.AuthorId>
				@book.Author?.FullName()
			</a>
			<div class="label">like</div>
			<a class="value" asp-controller="books" asp-action="index" asp-route-genre=@book.GenreId>
				@book.Genre?.Name
			</a>
		</div>
		<div class="stocks flex">
			left
			<div class="value">@book.Stocks</div>
			in stocks
		</div>
		<div class="rating flex">
			<div class="label">Rating</div>
			<div class="symbol">@book.SymbolStr()</div>
		</div>
		<div class="description flex">
			@book.Description
		</div>
	</div>
</div>